In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Smartphones_cleaned_dataset.csv')
df

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,snapdragon,8.0,3.20,...,120,3,1.0,android,50.0,16.0,0,NaN,1440,3216
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.20,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.40,...,90,3,1.0,android,50.0,13.0,1,1024.0,1080,2408
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,snapdragon,8.0,2.20,...,120,3,1.0,android,50.0,16.0,1,1024.0,1080,2400
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.60,...,120,3,1.0,android,108.0,16.0,0,NaN,1080,2412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,motorola,Motorola Moto Edge S30 Pro,34990,83.0,True,False,False,snapdragon,8.0,3.00,...,120,3,1.0,android,64.0,16.0,0,NaN,1080,2460
976,honor,Honor X8 5G,14990,75.0,True,False,False,snapdragon,8.0,2.20,...,60,3,1.0,android,48.0,8.0,1,1024.0,720,1600
977,poco,POCO X4 GT 5G (8GB RAM + 256GB),28990,85.0,True,True,True,dimensity,8.0,2.85,...,144,3,1.0,android,64.0,16.0,0,NaN,1080,2460
978,motorola,Motorola Moto G91 5G,19990,80.0,True,True,False,snapdragon,8.0,2.20,...,60,3,1.0,android,108.0,32.0,1,1024.0,1080,2400
979,samsung,Samsung Galaxy M52s 5G,24990,74.0,True,False,False,NaN,8.0,NaN,...,60,3,1.0,android,64.0,32.0,1,1024.0,1080,2400

Warning: Total number of columns (26) exceeds max_columns (20) limiting to first (20) columns.

#### 1. How many unique smarphone brands are present?

In [ ]:
n = df["brand_name"].nunique()
print(f"their are {n} unique phone brands")

their are 46 unique phone brands

#### 2 .what is the average price of smartphones?

In [ ]:
p = df["price"].mean()
print(f"the average price of a phone is {p}")

the average price of a phone is 32520.504081632655

####3 .Which smartphone has the highest price?

In [ ]:
# m = df["price"].max()
# print(f"the most expensive phone is {m}")

df[df['price'] == df['price'].max()]['brand_name'][427]

'vertu'

#### 4 . what is the most common processor brand?

In [ ]:
pross = df['processor_brand'].mode()
print(f"the most common processor brand is {pross}")

the most common processor brand is 0    snapdragon
Name: processor_brand, dtype: object

#### 5 what is the average rating of smartphones?

In [ ]:
a = df['rating'].mean()
print(f"the average rating of a phone is {a}")

the average rating of a phone is 78.25824800910125

#### 6 which brand has the most models listed?

In [ ]:
brand_counts = df["brand_name"].value_counts()
most_listed_brand = brand_counts.index[0]
print(f"The brand with the most phones listed is: {most_listed_brand}")

The brand with the most phones listed is: xiaomi

#### 7 Count of smarphones supporting 5G ?

In [ ]:
g5 = df['has_5g'].sum()
print(f"The number of smartphones that support 5G is: {g5}")

The number of smartphones that support 5G is: 549

#### 8 Average RAM across all the smartphones?

In [ ]:
avg = df['ram_capacity'].mean()
print(f"The average RAM across all smartphones is: {round(avg)}")

The average RAM across all smartphones is: 7

####9 Which phone has the largest battery?

In [ ]:
lb= df[df['battery_capacity'] == df['battery_capacity'].max()]['brand_name'][843]
print(f"The largest battery capacity is: {lb}")

The largest battery capacity is: doogee

### 10 Most commmon screen refresh rate?

In [ ]:
sr = df['refresh_rate'].mode()
print(f"The most common screen refresh rate is: {sr}")

The most common screen refresh rate is: 0    60
Name: refresh_rate, dtype: int64

#### 11 what's the average number pf rear cameras?

In [ ]:
camera_avg = df['num_rear_cameras'].mean()
print(f"The average number of rear cameras is: {round(camera_avg)}")

The average number of rear cameras is: 3

#### 12 How many smarphones suppost fast charging?

In [ ]:
fastch = df['fast_charging_available'].sum()
print(f"The number of smartphones that support fast charging is: {fastch}")

The number of smartphones that support fast charging is: 837

#### 13 What is teh average processor speed?

In [ ]:
pros_speed = df['processor_speed'].mean()
print(f"The average processor speed is: {pros_speed}")

The average processor speed is: 2.427217484008529

#### 14 Which OS is used by most smartphones?

In [ ]:
o_s = df['os'].mode()
print(f"The most common operating system is: {o_s}")

The most common operating system is: 0    android
Name: os, dtype: object

#### 15 How namy smartphones have an IR blaster?

In [ ]:
i_r = df['has_ir_blaster'].sum()
print(f"The number of smartphones with an IR blaster is: {i_r}")

The number of smartphones with an IR blaster is: 159

#### 16 What is the correlation between RAM and price?

In [ ]:
corr_R = df['ram_capacity'].corr(df['price'])
print(f"The correlation between RAM and price is: {corr_R}")

The correlation between RAM and price is: 0.3860016700183043

#### 17 Top 5 most expensive phones (brand + model) ?

In [ ]:
# brand_model = df.nlargest(5, 'price')[['brand_name', 'model']]
# print("The top 5 most expensive phones are:")
# print(brand_model)

df[['brand_name', 'model', 'price']].sort_values(by='price', ascending=False).head(5)

    brand_name                                   model   price
427      vertu                   Vertu Signature Touch  650000
887     xiaomi  Xiaomi Redmi K20 Pro Signature Edition  480000
478     huawei        Huawei Mate 50 RS Porsche Design  239999
951     huawei        Huawei Mate 30 RS Porsche Design  214990
458     xiaomi                     Xiaomi Mi Mix Alpha  199990

#### 18 Average front camera megapixels?

In [ ]:
front_cam = df['primary_camera_front'].mean()
print(f"The average front camera megapixels is: {round(front_cam)}")

The average front camera megapixels is: 17

#### 19 Do all smartphones support extended memory?

In [ ]:
support_ext_memo = df['extended_memory_available'].value_counts().get('Yes', "No")
print(f"The number of smartphones that support extended memory is: {support_ext_memo}")

The number of smartphones that support extended memory is: No

#### 20 Distribution of phones by resolution width?

In [ ]:
resouluion = df['resolution_width'].value_counts().head(5)
print(f"The distribution of phones by resolution width is: {resouluion}")

The distribution of phones by resolution width is: resolution_width
1080    593
720     206
1440     61
1170     16
1600     11
Name: count, dtype: int64

# 2nd Data set

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [8]:
df.columns

Index(['Brand', 'Model', 'Year', 'Engine_Size', 'Fuel_Type', 'Transmission',
       'Mileage', 'Doors', 'Owner_Count', 'Price'],
      dtype='object')

#### 1. What is the average price of all cars in the dataset?

In [6]:
avg_price = df['Price'].mean()
print(f"The average price of all cars in the dataset is: {round(avg_price)}")

The average price of all cars in the dataset is: 8853

####2. Which car brand has the highest average price?

In [7]:
car = df.groupby('Brand')['Price'].mean().idxmax()
print(f"The car brand with the highest average price is: {car}")

The car brand with the highest average price is: Chevrolet

#### 3. What is the most common fuel type in the dataset?

In [9]:
fuel_type = df['Fuel_Type'].mode()[0]
print(f"The most common fuel type in the dataset is: {fuel_type}")

The most common fuel type in the dataset is: Electric

#### 4. How many cars have a mileage greater than 200,000?

In [10]:
mileage = (df['Mileage'] > 200000).sum()
print(f"The number of cars with a mileage greater than 200,000 is: {mileage}")

The number of cars with a mileage greater than 200,000 is: 3290

#### 5. What is the distribution of cars by transmission type?

In [11]:
distribution = df['Transmission'].value_counts()
print(f"The distribution of cars by transmission type is: {distribution}")

The distribution of cars by transmission type is: Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

#### 6. Which car model has the highest price?

In [15]:
high_price = df[df['Price'] == df['Price'].max()]['Model'][1100]
print(f"The car model with the highest price is: {high_price}")

The car model with the highest price is: Corolla

#### 7. What is the average price of cars by fuel type?

In [69]:
avg_price = df.groupby('Fuel_Type')['Price'].mean()
print(f"The average price of cars by fuel type is: {round(avg_price)}")

The average price of cars by fuel type is: Fuel_Type
Diesel       8117.0
Electric    10032.0
Hybrid       9113.0
Petrol       8071.0
Name: Price, dtype: float64

#### 8. How many cars are from the year 2020 or later?

In [24]:
car_year = (df['Year'] >= 2020).sum()
print(f"The number of cars from the year 2020 or later is: {car_year}")

The number of cars from the year 2020 or later is: 1651

#### 9. What is the average engine size for each brand?

In [62]:
eng_size =df.groupby('Brand')['Engine_Size'].mean()
print(f"The average engine size for each brand is: {round(eng_size)}")

The average engine size for each brand is: Brand
Audi          3.0
BMW           3.0
Chevrolet     3.0
Ford          3.0
Honda         3.0
Hyundai       3.0
Kia           3.0
Mercedes      3.0
Toyota        3.0
Volkswagen    3.0
Name: Engine_Size, dtype: float64

#### 10. Which car has the lowest mileage?

In [35]:
low_mil = df[df['Mileage'] == df['Mileage'].min()]['Model'][6824]
print(f"The car with the lowest mileage is: {low_mil}")

The car with the lowest mileage is: Explorer

#### 11. What is the correlation between mileage and price?

In [36]:
corr_car = df['Mileage'].corr(df['Price'])
print(f"The correlation between mileage and price is: {corr_car}")

The correlation between mileage and price is: -0.5512271827629014

#### 12. How many cars have more than 2 owners?

In [68]:
owners = df[df['Owner_Count'] > 2].count()[0]
print(f"The number of cars with more than 2 owners is: {owners}")

The number of cars with more than 2 owners is: 5944

/tmp/ipython-input-68-269672864.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  owners = df[df['Owner_Count'] > 2].count()[0]

#### 13. What is the average price of cars by year?

In [44]:
avg_car_price = df.groupby('Year')['Price'].mean()
print(f"The average price of cars by year is: {round(avg_car_price)}")

The average price of cars by year is: Year
2000     5394.0
2001     5904.0
2002     5957.0
2003     6226.0
2004     6331.0
2005     6943.0
2006     7250.0
2007     7633.0
2008     7728.0
2009     8084.0
2010     8503.0
2011     8623.0
2012     9011.0
2013     9114.0
2014     9587.0
2015     9897.0
2016    10178.0
2017    10344.0
2018    10939.0
2019    11133.0
2020    11495.0
2021    11638.0
2022    12068.0
2023    12169.0
Name: Price, dtype: float64

#### 14. Which car has the highest number of doors?

In [50]:
car_door = df[df['Doors'] == df['Doors'].max()]['Brand'][14]
print(f"The car with the lowest mileage is: {car_door}")

The car with the lowest mileage is: Volkswagen

#### 15. What is the average mileage for each fuel type?

In [52]:
avg_fuel_type = df.groupby('Fuel_Type')['Mileage'].mean()
print(f"The average mileage for each fuel type is: {round(avg_fuel_type)}")

The average mileage for each fuel type is: Fuel_Type
Diesel      150262.0
Electric    151059.0
Hybrid      145578.0
Petrol      149918.0
Name: Mileage, dtype: float64

#### 16. How many cars are from the brand 'Toyota'?

In [53]:
count_car = (df['Brand'] == 'Toyota').sum()
print(f"The number of cars from the brand 'Toyota' is: {count_car}")

The number of cars from the brand 'Toyota' is: 970

#### 17. What is the average price of cars with automatic transmission?

In [63]:
avg_price = df[df['Transmission'] == 'Automatic']['Price'].mean()
print(f"The average price of cars with automatic transmission is: {round(avg_price)}")

The average price of cars with automatic transmission is: 9938

#### 18. Which car has the highest owner count?

In [66]:
owent_count = df[df['Owner_Count'] == df['Owner_Count'].max()]
print(f"The car with the highest owner count is: {owent_count}")

The car with the highest owner count is:           Brand     Model  Year  Engine_Size Fuel_Type    Transmission  \
0           Kia       Rio  2020          4.2    Diesel          Manual
9        Toyota      RAV4  2005          3.1    Petrol          Manual
30      Hyundai    Tucson  2007          3.9  Electric       Automatic
33     Mercedes       GLA  2013          3.3  Electric  Semi-Automatic
35          Kia    Optima  2005          4.5    Petrol          Manual
...         ...       ...   ...          ...       ...             ...
9952   Mercedes       GLA  2015          4.9  Electric       Automatic
9955        BMW  3 Series  2011          2.8    Diesel          Manual
9964    Hyundai    Tucson  2002          3.1  Electric       Automatic
9969  Chevrolet   Equinox  2016          3.9  Electric       Automatic
9992        BMW  5 Series  2016          1.2    Hybrid       Automatic

      Mileage  Doors  Owner_Count  Price
0      289944      3            5   8501
9      107724      2            5   6545
30     213643      4            5   9327
33      80184      3            5  11696
35      18590      2            5   9728
...       ...    ...          ...    ...
9952    14529      2            5  16709
9955   158111      4            5   7037
9964    62377      2            5  10052
9969    99870      5            5  14302
9992    13386      3            5  12332

[2036 rows x 10 columns]

#### 19. What is the average engine size for cars with diesel fuel type?

In [60]:
avg_engine_size = df[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f"The average engine size for cars with diesel fuel type is: {round(avg_engine_size)}")

The average engine size for cars with diesel fuel type is: 3

#### 20. How many cars have a price greater than $10,000?

In [61]:
greater_price = (df['Price'] > 10000).sum()
print(f"The number of cars with a price greater than $10,000 is: {greater_price}")

The number of cars with a price greater than $10,000 is: 3651